*, ::after, ::before{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
:root{
    --color1:#4E342E;
    --color2:#6D4C41;
    --color3:#fff;
    --color4:black;
    --color5:#66BB6A;
    --color6:#F5F5DC;
    --color7:#FFF8E1;
    --color8:#D4AF37;
    --color9:#FFD700;
    --color10:red;
    --color11:blue;
    --color12:#dd2a7b;
    --color13:#1DA1F2;
    --color14:#FF0000;
    --color15:#EA4335;
}
header{
    width: 100%;
    position: fixed;
    z-index: 2;
}
header ul{
    display: flex;
    height: 15vh;
    margin: 0 auto;
    background-color: var(--color1);
    justify-content: space-around;
    padding-top: 20px;
}
header ul li{
    list-style-type: none;
}
header ul li a{
    text-decoration: none;
    position: relative;
    color:var(--color3);
    font-weight: bold;
    font-size: 1.5rem;
font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
    
}
.pseudo:hover::after{
    position: absolute;
    content:"";
    
    background-color: var(--color4);
    color:var(--color4);
    height: 3px;
    width: 100%;
    left: 0;
    top: -4px;
   
}

.pseudo:hover::before{
    position: absolute;
    content:"";
    
    background-color: var(--color4);
    color:var(--color4);
    height: 3px;
    width: 100%;
    left: 0;
    bottom: -4px;
    font-weight: bold;
}
.coffe{
  font-family: "Parisienne", serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}
#first-section{
    margin: 0 auto;
    padding-top: 150px;
display: flex;
flex-direction: column;
    background: url("./asset/tasse.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    color:var(--color3);
    
    background-position: center;
    height: 85vh;
    width: 100%;
}
h1, h3{
    padding: 30px 30px 0 30px;
    margin: 0 auto;

  display: flex;

margin: 0 auto;
    font-size: 1.8rem;
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
    font-weight: 400;
}

h1{
    font-size: 2rem;
    font-family:"Parisienne", serif ;
    text-transform: uppercase;
    
}
.first-button{
   cursor: pointer;
    padding: 10px 15px;
    animation: first-animation 1.5s linear infinite;
    display: inline-block;
  
    border-radius: 5px;
    text-align: center;
    align-items: center;
    justify-content: center;
   margin: 0 auto;
    color: var(--color3);

    font-size: 1.2rem;
    width: 200px;
    font-weight: bold;
    transition: 1s ease-in-out;
    background-color: var(--color4);
    border: none;
}
.first-button:hover{
    color:var(--color4);
    background: var(--color3);
    box-shadow: 0px 5px 15px var(--color4);
}
#second-section{
    background-color: var(--color3);
    padding-top: 20px;
}
.father-div{
    display: flex;
 
    gap: 20px;
    padding: 30px;
}
.father-div div h4{
  text-transform: uppercase;
  text-align: center;
  padding-bottom: 20px;
  font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
  font-size: 1.3rem;
}
/* .father-div div h5:hover{
background-color: var(--color3);
cursor:pointer;
} */
.father-div div p{
     text-align: justify;
     font-size: 1.2rem;
     line-height: 30px;
}
.father-div div img{
    border-radius: 10px;
   margin-top: 55px;
}
.second-button{
    text-align: center;
    cursor: pointer;
    display: flex;
    margin: 0 auto;
    font-weight: bold;
    color:var(--color3);
    background-color: var(--color4);
    border: none;
    margin-top: 20px;
    font-size: 1rem;
    animation: first-animation 1.5s linear infinite;
    border-radius: 7px;
    transition: 1s ease-in-out;
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
    padding: 10px 30px;
  
}
.second-button:hover{
    background-color: var(--color3);
    color:var(--color4);
    border: 1px solid var(--color4);

}
@keyframes first-animation{
    0%{
        transform: translateY(0px);
    }
    100%{
        transform: translateY(40px);
    }
}

.produits{
    
    align-items: center;
    display: flex;
    justify-content: center;
    margin: 0 auto;
    padding: 15px;
    text-transform: uppercase;
}
.father-produits{
    display: flex;
    gap:30px;
    flex-wrap: wrap;
    justify-content: space-around;
    width: 100%;
}

.father-produits div img{
    width: 100%;
    margin: 0;
   transition: 1s ease-in-out;
    border-radius: 9px;
}

.father-produits div img:hover{
    transform: rotateY(180deg);

}
.father-produits div{
    box-shadow: 0px 3px 2px var(--color2);
    border-radius: 9px;
    width: 30%;
    border: 1px solid var(--color2);

    position: relative;
 height: 400px;
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
    padding-left: 15px;
 
}

.father-produits div h5, #third-button{
    transition: 1s ease-in-out;
    cursor: pointer;
}
.father-produits div h5, #third-button:hover{
    background-color: var(--color1);
}


#third-button{
 margin-right: 0;
 position: absolute;
 float: right;
 bottom: 2px;
 font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
 right: 5px;
 padding: 10px 9px;
 border-radius: 5px;
 font-size: 1.2rem;
 border: none;
 color:var(--color3);
 background-color: var(--color4);
    display: flex;
}
h5{
   padding-top: 0px; 
   bottom: 2px;
   left: 5px;
   font-size: 1.2rem;
   padding: 10px 9px;
   border-radius:5px ;
   text-align: center;
   background-color: var(--color4);
   color:var(--color3);
   width: 30%;
   position: absolute;
}
.avis{
    
    display: flex;
    justify-content: center;
    align-items: center;
    text-transform: uppercase;
    padding: 20px;
    padding-top: 30px;
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
    font-size: 1.9rem;
    /* margin: 0 auto; */
}
.star{
    display: flex;
    
}
.father-temoignages{
    padding: 20px;
    display: flex;
    gap:20px;
    
    justify-content: space-around;
}
.father-temoignages div{
    padding: 5px;
    border-radius: 7px;
    transition: 0.5s ease-in-out;
    box-shadow: 0px 2px 3px var(--color2);
    border: 1px solid var(--color2);
}
.father-temoignages div:hover{
    background-color: var(--color7);
}
.father-temoignages div i{
    color:var(--color9);
    margin: 0 auto;
   
}
.text{
    text-align: justify;
    font-weight: 500;
    padding: 10px;
    font-size: 1.2rem;
}
.name{
    font-weight: bold;
    padding-top: 20px;
    font-size: 1rem;
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
    text-align: center;
}
.father-temoignages div img{
    border-radius: 50%;
    transition: 1s ease-in-out;
    text-align: center;
    display: flex;
    align-items: center;
    margin: 0 auto;
    height: 200px;
    width: 200px;
    margin-top: 20px;
}
.father-temoignages div img:hover{
    transform: rotateY(180deg);
}

form{
    display: flex;
    
    justify-content: center;
    align-items: center;
    margin: 0 auto;

    flex-direction: column;
}
input, textarea, #btn{
    width: 400px;
    margin: 10px 0;
    font-size: 0.9rem;
    border-radius: 4px;
    padding: 20px;
}
#btn{
    background-color: var(--color4);
    transition: 1s ease-in-out;
    color:var(--color3);
    font-size: 1.5rem;
    cursor: pointer;
}
textarea{
    resize: none;
    height: 130px;
}
#btn:hover{
background-color: var(--color3);
color:var(--color4);
}

footer{
    display: flex;
    color:var(--color3);
    background-color: var(--color4);
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
   padding: 30px;
    justify-content: space-around;
}
footer div{

}
footer div i{
    font-size: 1.9rem;
    cursor: pointer;
}
footer div i:hover{
    color:var(--color3)
}
footer div p{
    font-size: 1.2rem;
}
h6{
    font-size: 1.3rem;
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
}
footer div:nth-child(1){
   line-height: 30px;
   letter-spacing: 20px;
   gap: 15px;
}

footer div:nth-child(1) h6{
    margin: 15px;
    text-align: center;
    letter-spacing: normal;
}
footer div:nth-child(2),footer div:nth-child(3), footer div:nth-child(4) {
   line-height: 30px;
  
}
footer div:nth-child(4){
    line-height: 45px;
    letter-spacing: 0épx;
}
footer div:nth-child(4) a{
    text-decoration: none;
    color:var(--color3);
}
.deplacement{
 margin-right: 20px;   
}
.tube{
    color:var(--color10);
}
.facebook{
    color:var(--color11);
}
.instag{
  color:var( --color12);
}
.twitter{
    color:var(--color13);
}
.localisation{
    color:var(--color14);
}
.mail{
    color:var(--color15);
}
/* partie responsive */
@media screen and (max-width:1345px) {
    .history{
        height: 400px;
        overflow: auto;
    }
    
}
@media screen and (max-width:975px){
    footer{
        display: grid;
        
        gap:30px;
        margin-top: 20px;
        grid-template-columns: 1fr 1fr;
    }
    footer div:nth-child(2), footer div:nth-child(4),footer div:nth-child(1), footer div:nth-child(3)  {
       margin: 0 auto;
    }
}
@media screen and (max-width:975px){
    .father-div{
        display: flex;
       
        flex-direction: column;
    }
    
    .father-div div img{
        width: 100%;
        height: 450px;
    }
    
    
}
@media screen and (max-width:915px) {
    .father-temoignages{
        display: flex;
        flex-direction: column;
    }
    .father-produits{
        display: flex;
        flex-direction: column;
    }
    .father-produits div{
        width: 90%;
        margin: 0px auto;
    }

}

