/* partie dark */

.dark-body{

}
.dark-body header{
   background-color:#2C2C2C;
}
.dark-mode header a {
   color: white; /* Liens blancs */
 }
 
 .dark-mode header a:hover {
   color: #DDDDDD; /* Liens en gris clair au survol */
 }