/* partie dark */

.dark-body{

}
.dark-body header{
   background-color:#2C2C2C;
}
.dark-body header a {
   color: white; /* Liens blancs */
 }
 
 .dark-body header a:hover {
   color: #DDDDDD; /* Liens en gris clair au survol */
 }


 /* partie hiero section */

 .dark-body .first-section{
   background-color: rgba(0, 0, 0, 0.7); /* Fond sombre avec un peu de transparence */
   color: white;
 }
 .dark-body .first-button{
   background-color: #333;
 }
 .dark-body .first-button:hover{
   background-color: #444;
 }


 /* second section */

 .dark-body .second-section, .dark-body .fourth-section{
   background: linear-gradient(135deg, rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.9));
   color: rgb(255, 255, 255); /* Texte en noir pour le dark mode */
 }
 .dark-body .fourth-section:hover{
   color:#444;
 }

  /* Pour les navigateurs WebKit (Chrome, Edge, Safari) */

  body::-webkit-scrollbar {
    width: 12px; 
  }
  
  body::-webkit-scrollbar-track {
    background: #000; 
  }
  
  body::-webkit-scrollbar-thumb {
    background-color: #fff; 
    border-radius: 10px; 
    border: 3px solid #000; 
  }
  body::-webkit-scrollbar-thumb:hover {
    background-color: #e0e0e0; 
  } 
   
  #circle-btn{
    outline: none;
    background:none;
    border: none;
    cursor: pointer;
    position: relative;
    transition:transform 0.4s ease;
  }
  .burger{
    position: absolute;
    display: block;
    right: 0;
}
  #circle-btn:hover{
    transform: scale(1.2);
}
#circle-btn:active{
    transform: scale(1.5);
}

svg{
  transform: rotate(-90deg);
  }
  .bg-svg{
      stroke:#b8b8b834;
      stroke-width:4;
  }
  .filled{
    stroke:#fff;
    stroke-width: 4;  
    stroke-dasharray:1;
    stroke-dashoffset:1 ;
    transition: .2s ease-in-out;
  }
  #circle-btn:hover .filled{
      stroke-dashoffset:0 ;
  
  }
  